html, body {
    font-family: 'Nixie One', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
body {
    background-image: url(../images/wall3.jpg) ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}
.header {
    position: fixed;
    top: 0;
    width: 98%;
}
.logo h1 {
    font-size: 36px;
    font-family: 'Nixie One', sans-serif;
    color: #fff;
    position: absolute;
}
.logo a {
    float: right;
    padding: 26px 26px 10px 0px;
    font-size: 20px;
    color: #fff;
}
.logo a:hover {
    text-decoration: none;
}
.search input {
    background: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
}
#search-results {
    color: #fff;
    padding-top: 110px;
}
#search-results .item {
    padding: 10px;
    border: 1px solid #fff;
    margin: 10px;
    min-height: 85px;
}
#search-results .item .title {
    font-size: 20px;
    font-weight: bold;
}
#search-results .item .content {
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}
#search-results .item .content p {
    position: absolute;
}
#search-results .item .content a {
    float: right;
    text-transform: uppercase;
    color: #fff;
    font-size: 28px;
    padding-top: 0;
    margin-top: -24px;
    font-weight: normal;
    padding-right: 10px;
}
#search-results .item .content a:hover {
    text-decoration: none;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 98%;
    text-align: center;
}
.footer a {
    font-size: 20px;
    color: #fff;
    padding: 26px;
    margin-bottom: 10px;
}
.footer a:hover {
    text-decoration: none;
}