image: node:lts

stages:
  - build
  - deploy

build:
  stage: build
  script:
    - npm ci
    - npm run build || echo "No build step, skipping"
  artifacts:
    paths:
      - public
  only:
    - master

pages:
  stage: deploy
  script:
    - echo "Deploying site from root folder..."
    - mkdir -p public
    - cp -r * public/
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH'
