image: node:lts

# Define stages
stages:
  - build
  - deploy

# Job to build the app
build:
  stage: build
  script:
    - npm ci
    - npm run build
  artifacts:
    paths:
      - public/
  only:
    - $CI_DEFAULT_BRANCH

# Job to publish to GitLab Pages
create-pages:
  stage: deploy
  script:
    - echo "Deploying GitLab Pages..."
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
  publish: public
