Redirect /blog/modules-can-now-declare-their-drupal-8-upgrade-status http://dev-karthikkumardk.pantheonsite.io/blog/modules-can-now-declare-their-drupal-8-upgrade-status
Redirect /blog/store-drupal-logs-amazon-s3 http://dev-karthikkumardk.pantheonsite.io/blog/store-drupal-logs-amazon-s3
Redirect /blog/cache-set-get-and-invalidate-user-drupal-7 http://dev-karthikkumardk.pantheonsite.io/blog/cache-set-get-and-invalidate-user-drupal-7
Redirect /blog/filescandirectory-moved-filesystem-service-drupal-880 http://dev-karthikkumardk.pantheonsite.io/blog/filescandirectory-moved-filesystem-service-drupal-880
Redirect /blog/configure-redis-set-get-cache-key-values-redis-drupal http://dev-karthikkumardk.pantheonsite.io/blog/configure-redis-set-get-cache-key-values-redis-drupal
Redirect /blog/run-simple-test-cases-terminal-docker-commands http://dev-karthikkumardk.pantheonsite.io/blog/run-simple-test-cases-terminal-docker-commands
Redirect /blog/objects-returned-getmessageiterator-now-include-source-and-destination-ids http://dev-karthikkumardk.pantheonsite.io/blog/objects-returned-getmessageiterator-now-include-source-and-destination-ids
Redirect /blog/api-security http://dev-karthikkumardk.pantheonsite.io/blog/api-security
Redirect /blog/origin-coconut-tree http://dev-karthikkumardk.pantheonsite.io/blog/origin-coconut-tree
Redirect /blog/vikari-nama-samvatsaram-2019-ashada-masam http://dev-karthikkumardk.pantheonsite.io/blog/vikari-nama-samvatsaram-2019-ashada-masam
Redirect /blog/humorously-honest-comics-showing-relationship-first-month-vs-year-later http://dev-karthikkumardk.pantheonsite.io/blog/humorously-honest-comics-showing-relationship-first-month-vs-year-later
Redirect /blog/indias-first-experimental-geo-stationary-communication-satellite-apple-started-working-day http://dev-karthikkumardk.pantheonsite.io/blog/indias-first-experimental-geo-stationary-communication-satellite-apple-started-working-day
Redirect /blog/forgotten-story-batukeshwar-dutt-revolutionary-and-dear-friend-bhagat-singh http://dev-karthikkumardk.pantheonsite.io/blog/forgotten-story-batukeshwar-dutt-revolutionary-and-dear-friend-bhagat-singh
Redirect /blog/drupal7-simple-test-case-custom-module http://dev-karthikkumardk.pantheonsite.io/blog/drupal7-simple-test-case-custom-module
Redirect /blog/aegir-docker-develop-test-easier-deployment http://dev-karthikkumardk.pantheonsite.io/blog/aegir-docker-develop-test-easier-deployment
Redirect /blog/aes-encrypt-decrypt http://dev-karthikkumardk.pantheonsite.io/blog/aes-encrypt-decrypt
Redirect /blog/perform-http-request-drupal-7 http://dev-karthikkumardk.pantheonsite.io/blog/perform-http-request-drupal-7
Redirect /blog/wise-man http://dev-karthikkumardk.pantheonsite.io/blog/wise-man
Redirect /blog/drupal-8-simple-redirect-module-redirect-one-url-another-url http://dev-karthikkumardk.pantheonsite.io/blog/drupal-8-simple-redirect-module-redirect-one-url-another-url
Redirect /blog/drupal-8-form-api-options-we-have-states http://dev-karthikkumardk.pantheonsite.io/blog/drupal-8-form-api-options-we-have-states
Redirect /blog/composer-drupal-8-manage-dependencies http://dev-karthikkumardk.pantheonsite.io/blog/composer-drupal-8-manage-dependencies
Redirect /blog/encrpt-and-decrypt-text-urls http://dev-karthikkumardk.pantheonsite.io/blog/encrpt-and-decrypt-text-urls
Redirect /blog/simple-redirect-upon-registration-and-login-drupal8 http://dev-karthikkumardk.pantheonsite.io/blog/simple-redirect-upon-registration-and-login-drupal8
Redirect /blog/custom-batch-processing-drupal-7-update-nodes-batch-api http://dev-karthikkumardk.pantheonsite.io/blog/custom-batch-processing-drupal-7-update-nodes-batch-api
Redirect /blog/drupal-7-apache-solr-search-how-setup-and-how-index http://dev-karthikkumardk.pantheonsite.io/blog/drupal-7-apache-solr-search-how-setup-and-how-index
Redirect /blog/drupal-simplytestme-evaluate-drupal-projects-online http://dev-karthikkumardk.pantheonsite.io/blog/drupal-simplytestme-evaluate-drupal-projects-online
Redirect /blog/drupal-8-introduction-plugin-system-and-how-its-awesome-drupal-8 http://dev-karthikkumardk.pantheonsite.io/blog/drupal-8-introduction-plugin-system-and-how-its-awesome-drupal-8
Redirect /blog/security-checklist-drupal http://dev-karthikkumardk.pantheonsite.io/blog/security-checklist-drupal
Redirect /blog/installing-setting-symfony-framework http://dev-karthikkumardk.pantheonsite.io/blog/installing-setting-symfony-framework
Redirect /blog/drupal-7-performance-optimization-options-and-checklist http://dev-karthikkumardk.pantheonsite.io/blog/drupal-7-performance-optimization-options-and-checklist
Redirect /blog/creating-twitter-share-block-programmatically-drupal-8 http://dev-karthikkumardk.pantheonsite.io/blog/creating-twitter-share-block-programmatically-drupal-8
Redirect /blog/install-apache-mysql-php-stack-ubuntu-14 http://dev-karthikkumardk.pantheonsite.io/blog/install-apache-mysql-php-stack-ubuntu-14
Redirect /blog/secure-website-running-apache-lets-encrypt-linux http://dev-karthikkumardk.pantheonsite.io/blog/secure-website-running-apache-lets-encrypt-linux
Redirect /blog/drush-commands-drupal-developers http://dev-karthikkumardk.pantheonsite.io/blog/drush-commands-drupal-developers
Redirect /blog/setup-drupal-8-site-pantheon-instance http://dev-karthikkumardk.pantheonsite.io/blog/setup-drupal-8-site-pantheon-instance
Redirect /blog/sites-still-vulnerable-drupalgeddon-2 http://dev-karthikkumardk.pantheonsite.io/blog/sites-still-vulnerable-drupalgeddon-2
Redirect /blog/drupal-multisite-development-environment-configuration-ubuntu14 http://dev-karthikkumardk.pantheonsite.io/blog/drupal-multisite-development-environment-configuration-ubuntu14
Redirect /blog/integrating-codeception-drupal-have-added-support-tdd http://dev-karthikkumardk.pantheonsite.io/blog/integrating-codeception-drupal-have-added-support-tdd
Redirect /blog/filter-content-between-date-ranges-drupal7 http://dev-karthikkumardk.pantheonsite.io/blog/filter-content-between-date-ranges-drupal7
Redirect /blog/create-slideshow-using-imagefield-slideshow-module http://dev-karthikkumardk.pantheonsite.io/blog/create-slideshow-using-imagefield-slideshow-module
Redirect /blog/create-related-content-different-content-types-through-taxonomy-drupal7 http://dev-karthikkumardk.pantheonsite.io/blog/create-related-content-different-content-types-through-taxonomy-drupal7
Redirect /blog/why-devops-important-how-can-be-done-drupal http://dev-karthikkumardk.pantheonsite.io/blog/why-devops-important-how-can-be-done-drupal
Redirect /blog/getting-started-sassscss http://dev-karthikkumardk.pantheonsite.io/blog/getting-started-sassscss
Redirect /blog/creating-simple-headless-drupal-7-site-headless-drupal http://dev-karthikkumardk.pantheonsite.io/blog/creating-simple-headless-drupal-7-site-headless-drupal
Redirect /blog/configuring-debugging-drupal-7-phpstorm-xdebug-ubuntu14 http://dev-karthikkumardk.pantheonsite.io/blog/configuring-debugging-drupal-7-phpstorm-xdebug-ubuntu14
Redirect /blog/creating-drupal-7-hooks http://dev-karthikkumardk.pantheonsite.io/blog/creating-drupal-7-hooks
Redirect /blog/setup-multiple-drush-versions-your-machine-make-drupal-maintenance-easier http://dev-karthikkumardk.pantheonsite.io/blog/setup-multiple-drush-versions-your-machine-make-drupal-maintenance-easier
Redirect /blog/start-migrating-drupal-6-drupal-7-migrate-module http://dev-karthikkumardk.pantheonsite.io/blog/start-migrating-drupal-6-drupal-7-migrate-module
Redirect /blog/drupal-8-if-not-features-what-configuration-management http://dev-karthikkumardk.pantheonsite.io/blog/drupal-8-if-not-features-what-configuration-management
Redirect /blog/custom-field-formatter-drupal-7 http://dev-karthikkumardk.pantheonsite.io/blog/custom-field-formatter-drupal-7
Redirect /blog/auto-tagging-taxonomy-terms-drupal7 http://dev-karthikkumardk.pantheonsite.io/blog/auto-tagging-taxonomy-terms-drupal7
