<p>Social links</p>
<p>
<span class="tools-element"><a target="_blank" href="http://dev-karthikkumardk.pantheonsite.io/">My Google Website</a></span>
<span class="tools-element"><a target="_blank" href="https://www.drupal.org/aggregator/sources/1853">Blog feeds</a></span>
<span class="tools-element"><a target="_blank" href="https://www.facebook.com/karthikkumardk">Facebook</a></span>
<span class="tools-element"><a target="_blank" href="http://in.linkedin.com/in/karthikkumardk">Linkedin</a></span>
<span class="tools-element"><a target="_blank" href="http://twitter.com/heykarthikwithu">Twitter</a></span>
</p>
