Social links

<ul>
    <li><a target="_blank" href="http://dev-karthikkumardk.pantheonsite.io/">My Google Website</a></li>
    <li><a target="_blank" href="https://www.drupal.org/aggregator/sources/1853">Blog feeds</a></li>
    <li><a target="_blank" href="https://angel.co/heykarthikwithu">Angel.co</a></li>
    <li><a target="_blank" href="http://drupal.stackexchange.com/users/36960/heykarthikwithu">Stack Exchange</a></li>
    <li><a target="_blank" href="https://www.facebook.com/karthikkumardk">Facebook</a></li>
    <li><a target="_blank" href="http://in.linkedin.com/in/karthikkumardk">Linkedin</a></li>
    <li><a target="_blank" href="http://twitter.com/heykarthikwithu">Twitter</a></li>
</ul>
